/Unidad7/nbproject/private/
/Unidad7/build/
/Unidad7/dist/
/Unidad7_ProgramacionGenerica/nbproject/private/
/Unidad7_ProgramacionGenerica/build/
/Unidad7_ProgramacionGenerica/dist/
/Unidad8_EstructurasDeDatosExternas(ficheros)/nbproject/private/
/Unidad8_EstructurasDeDatosExternas(ficheros)/build/
/Unidad8_EstructurasDeDatosExternas(ficheros)/dist/
/UtilidadesYejemplos/nbproject/private/
/UtilidadesYejemplos/build/
/UtilidadesYejemplos/dist/
